html,
body {
    height: 100%;
}

#butterfly {
    height: 200px;
    width: auto;
    position: absolute;
}

#wateringcan {
    width: 200px;
    position: fixed;
    bottom: 20%;
    left: 45%;
}

.waterdrop {
    width: 20px;
    position: fixed;
    bottom: 25%;
    left: 45%;
    z-index: 2;
}

#drop {
    width: 20px;
    position: absolute;
    bottom: 23%;
    left: 45%;
    z-index: 2;
}

#drop1 {
    width: 20px;
    position: absolute;
    bottom: 25%;
    left: 45%;
    z-index: 2;
}

#talk {
    border-style: dotted;
    background-color: aliceblue;
    padding: 10px;
    position: fixed;
    bottom: 100px;
    left: 65%;
    font-size: large;
    color: rgb(129, 18, 18);
    font-weight: bold;
}

#talk_dirty {
    border-style: dotted;
    background-color: aliceblue;
    padding: 10px;
    position: fixed;
    bottom: 100px;
    left: 20%;
    font-size: large;
    color: rgb(129, 18, 18);
    font-weight: bold;
}

#talk_sq {
    border-style: dotted;
    background-color: aliceblue;
    padding: 10px;
    position: fixed;
    bottom: 55%;
    left: 70%;
    font-size: large;
    color: rgb(129, 18, 18);
    font-weight: bold;
}

.flower {
    width: 200px;
    position: fixed;
    bottom: 20px;
    left: 35%;
}

.flower_small {
    width: 100px;
    position: fixed;
    bottom: 20px;
    left: 65%;
}

.verysmall {
    width: 50px;
    position: fixed;
    bottom: 20px;
    left: 65%;
}

.flower1 {
    width: 120px;
    position: fixed;
    bottom: 20px;
    left: 35%;
}

#net {
    height: 600px;
    width: auto;
    position: absolute;
}

.apple {
    height: 50px;
    width: auto;
    position: absolute;
}
#apple1 {
    height: 50px;
    width: auto;
    position: absolute;
    z-index: 2;
} 

 #apple2 {
    height: 50px;
    width: auto;
    position: absolute;
    z-index: 2;
}

#apple3 {
    height: 50px;
    width: auto;
    position: absolute;
    z-index: 2;
}


#apple3:hover {
    cursor: pointer;
}
#squirel {
    width: 150px;
    position: fixed;
    left: 79%;
    bottom: 55%;
    z-index: 1;
}

#tree {
    position: fixed;
    bottom: 20px;
    left: 50%;
    z-index: -1;

}
#tree:hover {
    cursor: pointer;
    

}



.basket {
    width: 200px;
    position: fixed;
    bottom: 20px;
    left: 5%;
    z-index: 1;
}
#basketfront{
    z-index: 3;
}

body {
    margin: 0px;
    background-image: url("../images/grass.png");
    background-attachment: fixed;
    background-repeat: repeat-x;
    background-position: bottom;
    overflow: hidden;
}


/* Petra styles */

.butterfly_baby {
    height: 75px;
    position: absolute;
    top: 0;
    left: 0;
}

#baby_talking {
    width: 70%;
    height: 110%;
    display: block;
    background: bisque;
    border: 2px solid black;
    border-radius: 30px;
    margin-top: -65px;
    margin-left: -150px;
    padding: 10px;
    font-size: x-large;
    color: rgb(129, 18, 18);
    font-weight: bold;
}