html,
body {
    height: 100%;
}

#butterfly {
    height: 200px;
    width: auto;
    position: absolute;
    z-index: 5;
}

#net {
    height: 400px;
    width: auto;
    position: absolute;
    z-index: 6;
}


/*Veronica did this styles*/


/*the watering can functionality &position*/

#wateringcan {
    width: 200px;
    position: fixed;
    bottom: 20%;
    left: 55%;
    z-index: 1;
}

#tree {
    position: fixed;
    bottom: 20px;
    left: 50%;
    z-index: 1;
}

.waterdrop {
    width: 20px;
    position: fixed;
    bottom: 25%;
    left: 55%;
    z-index: 2;
}

#drop {
    width: 20px;
    position: absolute;
    bottom: 23%;
    left: 55%;
    z-index: 2;
}

#drop1 {
    width: 20px;
    position: absolute;
    bottom: 25%;
    left: 55%;
    z-index: 2;
}

#drop2 {
    width: 20px;
    position: absolute;
    bottom: 25%;
    left: 55%;
    z-index: 2;
}


/*text position*/

#talk {
    border-style: dotted;
    background-color: aliceblue;
    padding: 10px;
    position: fixed;
    bottom: 50px;
    left: 25%;
    font-size: large;
    color: rgb(129, 18, 18);
    font-weight: bold;
}

#talk_dirty {
    border-style: dotted;
    background-color: aliceblue;
    padding: 10px;
    position: fixed;
    bottom: 200px;
    left: 40%;
    font-size: large;
    color: rgb(129, 18, 18);
    font-weight: bold;
}

#talk_sq {
    border-style: dotted;
    background-color: aliceblue;
    padding: 10px;
    position: fixed;
    bottom: 55%;
    right: 75%;
    font-size: large;
    color: rgb(129, 18, 18);
    font-weight: bold;
}


/*styles for flowers*/

.flower {
    width: 200px;
    position: fixed;
    bottom: 20px;
    left: 45%;
}

.flower_small {
    width: 100px;
    position: fixed;
    bottom: 20px;
    left: 20%;
}

.verysmall {
    width: 50px;
    position: fixed;
    bottom: 20px;
    left: 20%;
}

.flower1 {
    width: 120px;
    position: fixed;
    bottom: 20px;
    left: 45%;
}


/*new tree & squirell position*/

#squirel {
    width: 150px;
    position: fixed;
    right: 82%;
    bottom: 45%;
}

#small_tree {
    width: 700px;
    position: fixed;
    bottom: 20px;
    right: 70%;
    z-index: -1;
}


/*until here*/

.apple {
    height: 50px;
    width: auto;
    position: absolute;
}

#apple1 {
    height: 50px;
    width: auto;
    position: absolute;
    z-index: 2;
}

#apple2 {
    height: 50px;
    width: auto;
    position: absolute;
    z-index: 2;
}

#apple3 {
    height: 50px;
    width: auto;
    position: absolute;
    z-index: 2;
}

#apple3:hover {
    cursor: pointer;
}

#tree {
    position: fixed;
    bottom: 20px;
    left: 50%;
    z-index: -1;
}

#tree:hover {
    cursor: pointer;
}

.basket {
    width: 200px;
    position: fixed;
    bottom: 20px;
    left: 5%;
    z-index: 1;
}

#basketfront {
    z-index: 3;
}

body {
    margin: 0px;
    background-image: url("../images/grass.png");
    background-attachment: fixed;
    background-repeat: repeat-x;
    background-position: bottom;
    overflow: hidden;
}


/* Petra styles */

.butterfly_baby {
    height: 75px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
}

#baby_talking {
    width: 70%;
    height: 110%;
    display: block;
    background: bisque;
    border: 2px solid black;
    border-radius: 30px;
    margin-top: -65px;
    margin-left: -150px;
    padding: 10px;
    font-size: x-large;
    color: rgb(129, 18, 18);
    font-weight: bold;
}