html,
body {
    height: 100%;
}


#butterfly {
    height: 200px;
    width: auto;
    position: absolute;
}

#wateringcan {
    width: 200px;
    position: fixed;
    bottom: 20%;
    left: 45%;
}


.waterdrop {
    width: 20px;
    position: fixed;
    bottom: 25%;
    left: 45%;
    z-index: 2;

}
#drop {
    width: 20px;
    position: absolute;
    bottom: 23%;
    left: 45%;
    z-index: 2;

}
#drop1 {
    width: 20px;
    position: absolute;
    bottom: 25%;
    left: 45%;
    z-index: 2;

}
#talk{
    border-style: dotted;
    background-color: aliceblue;
    padding: 10px;
    position: fixed;
    bottom: 100px;
    left: 65%;   
    font-size: large;
    color: rgb(129, 18, 18);
    font-weight: bold;
}
#talk_dirty{
    border-style: dotted;
    background-color: aliceblue;
    padding: 10px;
    position: fixed;
    bottom: 100px;
    left: 20%;   
    font-size: large;
    color: rgb(129, 18, 18);
    font-weight: bold;  
}
#talk_sq{

    border-style: dotted;
    background-color: aliceblue;
    padding: 10px;
    position: fixed;
    bottom: 55%;
    left: 70%;   
    font-size: large;
    color: rgb(129, 18, 18);
    font-weight: bold;  

}



.flower{
    width: 200px;
    position: fixed;
    bottom: 20px;
    left: 35%;  
}
.flower_small{
    width: 100px;
    position: fixed;
    bottom: 20px;
    left: 65%; 
}
.verysmall{
    width: 50px;
    position: fixed;
    bottom: 20px;
    left: 65%;
}
.flower1{
    width: 120px;
    position: fixed;
    bottom: 20px;
    left: 35%;  
}



#net {
    height: 600px;
    width: auto;
    position: absolute;

}

.apple {
   
    height: 50px;
    width: auto;
    position: absolute;
}

#squirel{
    width: 150px;
    position: fixed;
    left: 79%;
    bottom: 55%;
    z-index: 1;
}

#tree {
    position: fixed;
    bottom: 20px;
    left: 50%;
    z-index: -1;

}

.basket {
    width: 200px;
    position: fixed;
    bottom: 20px;
    left: 5%;

}


body {
    margin: 0px;
    background-image: url("../images/grass.png");
    background-attachment: fixed;
    background-repeat: repeat-x;
    background-position: bottom;
    overflow: hidden;
}
